div.app {
    background-color: #ddd;
    /* border: 1px solid black; */
    width: 393px;
    height: 852px;
    margin: 50px;
    position: relative;
}

div.appcontent {
    background-color: pink;
    border: 1px solid black;
    height: 692px;
    overflow-y: auto;
}

div.appcontent.nofooter {
    height: 762px;
}

div.appcontent.startpage {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.header {
    width: 100%;
    height: 90px;
}

div.footer {
    width: 100%;
    height: 70px;
    display: flex;
    position: absolute;
    bottom: 0px;
}

div.footer .footernav {
    width: 33.3%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid blue;
}