@import url('https://webfontworld.github.io/pretendard/Pretendard.css');
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

body * {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

:root {
    --mainblack: #536179;
    --deepred: #FF7170;
    --lightred: #F9EAEB;
    --deepblue: #5279FD;
    --midblue: #51CECE;
    --lightblue: #E1F5F5;
    --deepgray: #9396A6;
    --lightgray1: #EEF0F7;
    --lightgray2: #DDDFEA;
    --bggray: #F2F5FA;
    --skyblue: #69caf7;
}

body {
    color: #536179;
    letter-spacing: 0;
    font-size: 16px;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    word-break: keep-all;
}

/*font-size*/
.fs_11 {
    font-size: 11px;
}

.fs_12 {
    font-size: 12px;
}

.fs_13 {
    font-size: 13px;
}

.fs_14 {
    font-size: 14px;
}

.fs_15 {
    font-size: 15px;

}

.fs_16 {
    font-size: 16px;
}

.fs_17 {
    font-size: 17px;
}

.fs_18 {
    font-size: 18px;
}

.fs_19 {
    font-size: 19px;
}

.fs_20 {
    font-size: 20px;
}

.fs_21 {
    font-size: 21px;
}

.fs_22 {
    font-size: 22px;
}

.fs_24 {
    font-size: 24px;
}

.fs_25 {
    font-size: 25px;
}

.fs_26 {
    font-size: 26px;
}

.fs_28 {
    font-size: 28px;
}

.fs_30 {
    font-size: 30px;
}

.fs_32 {
    font-size: 32px;
}

/*font-weight*/
.fw_100 {
    font-weight: 100;
}

.fw_200 {
    font-weight: 200;
}

.fw_300 {
    font-weight: 300;
}

.fw_400 {
    font-weight: 400;
}

.fw_500 {
    font-weight: 500;
}

.fw_600 {
    font-weight: 600;
}

.fw_700 {
    font-weight: 700;
}

.fw_800 {
    font-weight: 800;
}

.fw_900 {
    font-weight: 900;
}


/* placeholder style - italic */
::placeholder {
    font-style: italic;
    color: var(--deepgray);
    font-size: 15px;
}


div.app {
    background-color: white;
    /* border: 1px solid black; */
    /* width: 393px;
    height: 852px; */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* margin: 50px; */
    position: relative;
}

div.login {
    /* background: linear-gradient(to bottom, #FDC8C7, #E9DBF8); */
    background-color: white;
    /* border: 1px solid black; */
    /* width: 393px;
    height: 852px; */
    width: 100%;
    height: 100vh;

    /* margin: 50px; */
    position: relative;
}

div.appcontent {
    background-color: white;
    /* border: 1px solid black; */
    /* height: 81.34vh; */
    /* height: 692px; */
    overflow-y: auto;
    flex: 1;
    padding-top: 100px;
    padding-bottom: 90px;
    position: relative;
}

/* 
div.appcontent.nofooter {
    height: 89.5vh;
     height: 762px; 
} */

/* div.appcontent.startpage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

div.header {
    width: 100%;
    /* height: 10.5vh; */
    height: 100px;
}

div.footer {
    width: 100%;
    /* height: 8.16vh; */
    box-sizing: border-box;
    height: 70px;
    display: flex;
    /* position: absolute; */
    bottom: 0px;
    border-top: 1px solid #EEF0F7;
    background-color: #fff;
    align-self: flex-end;
}

div.footer .footernav {
    cursor: pointer;
}


.footer_ico {
    fill: #9396A6;
}

.footer_ico:hover {
    fill: #7A98FF;
}

a {
    text-decoration: none;
}

/* 포인트컬러(폰트 color) */

.col_red {
    color: var(--deepred);
}

.col_blue1 {
    color: var(--midblue);
}

.col_blue2 {
    color: var(--deepblue);
}

.col_gray {
    color: var(--deepgray);
}

.col_black {
    color: var(--mainblack);
}

/* 보더 border컬러 */

.bor_red {
    border: 1px solid var(--deepred);
}

.bor_blue1 {
    border: 1px solid var(--midblue);
}

.bor_blue2 {
    border: 1px solid var(--deepblue);
}

.bor_gray1 {
    border-bottom: 1px solid var(--lightgray1);
}

.bor_gray2 {
    border: 1px solid var(--lightgray2);
}

/* background-color백그라운드 컬러 */

.bg_red {
    background-color: var(--lightred);
}

.bg_blue {
    background-color: var(--lightblue);
}

.bg_blue2 {
    background-color: var(--deepblue);
}

.bg_gray {
    background-color: var(--bggray);
}

/* margin 마진 */
.mx_30 {
    margin-left: 30px;
    margin-right: 30px;
}

.mt_10 {
    margin-top: 10px;
}

.mt_25 {
    margin-top: 25px;
}

.mt_45 {
    margin-top: 45px;
}

.mt_100p {
    margin-top: 100%;
}


/* border-radius */
.br_5 {
    border-radius: 5px;
}

/* page header 관련 */
div.pageheader {
    /* height: 60px; */
}

span.header-clickable {
    cursor: pointer;
}

/* start main */

/**
   * Backgrounds
   */
.backgrounds {
    width: 100%;
    height: 100%;
    position: fixed;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: -1;
}

.backgrounds .background {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    background-attachment: fixed;
}

.overlay:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: linear-gradient(to bottom, var(--lightgray2), var(--mainblack));
    opacity: 0.5;
}

/**
   * Hero
   */
.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    color: var(--mainblack);
    text-align: center;
}

.hero-center {
    width: 100%;
    position: absolute;
    top: 43%;
    left: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.hero__logo {
    font-size: 60px;
    color: var(--skyblue);
    font-weight: 800;
}

/* .hero__logo {
    font-size: 60px;
    color: var(--skyblue);
    font-weight: 600;
    text-shadow: 
    0 0 5px #72c3f8,
    0 0 10px #72c3f8,
    0 0 20px #fff;
} */

.hero__text {
    font-weight: 600;
    opacity: 0.8;
    font-size: 25px;
}

.hero__scroll {
    position: absolute;
    bottom: 35px;
    width: 200px;
    margin: auto;
    display: block;
    cursor: pointer;
    padding-bottom: 40px;
    left: 0;
    right: 0;
    text-transform: uppercase;
}

.hero__scroll .chevron {
    margin-top: 20px;
    display: block;
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
    color: var(--deepred);
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    50% {
        -webkit-transform: translate(0, 10px);
        transform: translate(0, 10px);
    }

    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    50% {
        -webkit-transform: translate(0, 10px);
        transform: translate(0, 10px);
    }

    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.octocat {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 80px;
}

.octocat img {
    display: block;
    width: 100%;
}

.chevron::before {
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    vertical-align: top;
    width: 20px;
}

.chevron.right:before {
    left: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.chevron.bottom:before {
    top: 0;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.chevron.left:before {
    left: 0.25em;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

/**
   * Sections
   */
.section {
    width: 100%;
    float: left;
    overflow: hidden;
}

.section-title {
    text-align: center;
    color: var(--mainblack);
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 80px;
    padding: 15px 0;
    border-top: 2px solid hsl(207, 100%, 73%);
    border-bottom: 2px solid hsl(207, 100%, 73%);
    width: 100%;
    clear: both;
}

.container {
    width: 970px;
    margin: 0 auto;
    max-width: 90%;
    -webkit-transform: translateZ(1000px);
    transform: translateZ(1000px);
}

.code {
    width: 70%;
    clear: both;
    /* height: 200px; */
    background: #d7f3ffde;
    /* border: 1px solid #cbd7ff; */
    border-radius: 10px;
    margin: 7vh 0;
    padding: 15px;
    position: relative;
}

.code--left::before {
    content: '';
    position: absolute;
    top: 30%;
    /* 말풍선 세로 위치 조정 */
    left: -30px;
    /* 말풍선 가로 위치 조정 */
    transform: translateY(-50%);
    /* 세로 가운데 정렬을 위한 위치 이동 */
    border: 15px solid transparent;
    /* 말풍선 삼각형 만들기 */
    border-right-color: #d7f3ffde;
    /* 말풍선 배경색과 동일하게 설정 */
}

.code--right::before {
    content: '';
    position: absolute;
    top: 30%;
    /* 말풍선 세로 위치 조정 */
    right: -30px;
    /* 말풍선 가로 위치 조정 */
    transform: translateY(-50%);
    /* 세로 가운데 정렬을 위한 위치 이동 */
    border: 15px solid transparent;
    /* 말풍선 삼각형 만들기 */
    border-left-color: #d7f3ffde;
    /* 말풍선 배경색과 동일하게 설정 */
}

.code--left {
    float: left;
}

.code--right {
    float: right;
}

.code--wider {
    width: 60%;
}

.code--wider code {
    padding-top: 60px;
}

.section--more {
    color: #FFF;
    background: #0E0F34;
    padding: 20px 0 40px 0;
}

.mb_300i {
    margin-bottom: 400px !important;
}

button.start_btn {
    font-weight: 600;
    color: #382b22;
    text-transform: uppercase;
    padding: 0.4em 1em;
    background: var(--skyblue);
    border: 2px solid var(--deepblue);
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.start_btn::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #60abe9;
    border-radius: inherit;
    /* box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2; */
    box-shadow: 0 0 0 2px var(--deepblue);
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

/* button.start_btn:hover {
    background: #ffe9e9;
    transform: translate(0, 0.25em);
} */
/* button.start_btn:hover::before {
    box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
    transform: translate3d(0, 0.5em, -1em);
} */
button.start_btn:active {
    background: var(--skyblue);
    transform: translate(0em, 0.75em);
}

button.start_btn:active::before {
    /* box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2; */
    box-shadow: 0 0 0 2px var(--deepblue);
    transform: translate3d(0, 0, -1em);
}

.click_ani {
    margin: 0 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
}

.click_ani span {
    position: relative;
    font-size: 45px;
    top: -15px;
    display: inline-block;
    animation: bounce .3s ease infinite alternate;
    /* text-shadow: 0 1px 0 transparent, 
             0 2px 0 transparent, 
             0 3px 0 transparent, 
             0 4px 0 transparent, 
             0 5px 0 transparent, 
             0 6px 0 transparent, 
             0 7px 0 transparent, 
             0 8px 0 transparent, 
             0 9px 0 transparent, 
             0 10px 10px rgba(0, 0, 0, 0.4); */
}

.click_ani span:nth-child(2) {
    animation-delay: .1s;
}

.click_ani span:nth-child(3) {
    animation-delay: .2s;
}

.click_ani span:nth-child(4) {
    animation-delay: .3s;
}

.click_ani span:nth-child(5) {
    animation-delay: .4s;
}

.click_ani span:nth-child(6) {
    animation-delay: .5s;
}

.click_ani span:nth-child(7) {
    animation-delay: .6s;
}

@keyframes bounce {
    100% {
        top: -20px;
        /* text-shadow: 0 1px 0 transparent, 
             0 2px 0 transparent, 
             0 3px 0 transparent, 
             0 4px 0 transparent, 
             0 5px 0 transparent, 
             0 6px 0 transparent, 
             0 7px 0 transparent, 
             0 8px 0 transparent, 
             0 9px 0 transparent, 
             0 50px 25px rgba(0, 0, 0, 0.2); */
    }
}

.pt_20 {
    padding-top: 40px;
}

.col_blue3 {
    color: var(--skyblue);
}

.bg_blue3 {
    background-color: #E7EDF7;
}

.bor_blue3 {
    border: 1px solid #BAD1E6;
}

/* 추가: 공용 버튼 (진한 파랑 배경, 연한 파랑 배경) */
button.deepblue {
    /* background-color: var(--lightblue);
    border: 1px solid var(--midblue);
    border-radius: 5px;
    font-weight: 500;
    color: var(--mainblack);
    padding: 6px 30px; */

    border: none;
    border-radius: 5px;
    background-color: var(--deepblue);
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    padding: 6px 15px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

button.lightblue {
    /* background-color: var(--lightblue);
    border: 1px solid var(--midblue);
    border-radius: 5px;
    font-weight: 500;
    color: var(--mainblack);
    padding: 6px 30px; */

    border: none;
    border-radius: 5px;
    background-color: #D4E4F2;
    font-size: 14px;
    font-weight: 700;
    color: var(--deepblue);
    padding: 6px 15px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

button.white {
    /* background-color: var(--lightblue);
    border: 1px solid var(--midblue);
    border-radius: 5px;
    font-weight: 500;
    color: var(--mainblack);
    padding: 6px 30px; */

    border: none;
    border-radius: 5px;
    background-color: white;
    font-size: 14px;
    font-weight: 700;
    color: var(--deepblue);
    padding: 6px 15px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

button.short {
    padding: 6px 10px;
}

button.long {
    padding: 6px 30px;
}