/* div.summaryContent {
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    height: 10vh;
    padding: 0 10px;
    overflow-y: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */

div.summaryContent {
    width: 100%;
    height: 80%;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 5px 5px 5px gray;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
}

/* div.summaryAnswerContent {
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    height: 30vh;
    padding: 0 10px;
    overflow-y: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */

div.summaryAnswerContent {
    width: 100%;
    height: 80%;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 5px 5px 5px gray;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #D4E4F2;
}

/* div.diagnosisSummaryContent {
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    height: auto;
    padding: 0 10px;
    overflow-y: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */

div.diagnosisSummaryContent {
    width: 100%;
    height: auto;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 5px 5px 5px gray;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
}

/* div.diagnosisSummaryAnswerContent {
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    height: auto;
    padding: 0 10px;
    overflow-y: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */

div.diagnosisSummaryAnswerContent {
    width: 100%;
    height: auto;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 5px 5px 5px gray;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #D4E4F2;
}

/* div.diagnosisPsychology {
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    height: auto;
    padding: 0 10px;
    overflow-y: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */

div.diagnosisPsychology {
    width: 100%;
    height: auto;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 5px 5px 5px gray;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #bfe1ff;
}

/* div.diagnosisActing {
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    height: auto;
    padding: 0 10px;
    overflow-y: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */

div.diagnosisActing {
    width: 100%;
    height: auto;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 5px 5px 5px gray;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ccd6f5;
}