.w_100p{
    width: 100%;
}

.p_15{
    padding: 15px;
}

.com_btn button{
    text-align: justify;
    /* background-color: #F2F5FA; */
    border: none;
    border-radius: 5px;
    background-color: #E7EDF7;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.com_btn button:nth-child(1){
    text-align: justify;
    /* background-color: #F2F5FA; */
    border: none;
    border-radius: 5px;
    background-color: var(--deepblue);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}