/*adminmain*/
.homebox {
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    height: 5vh;
    padding: 0 10px;
    overflow-y: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

/*membermanage 테이블*/
.table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    /* 셀의 테두리를 둥글게 하기 위한 추가 속성 */
}

.table th,
.table td {
    padding: 8px;
    text-align: left;
    border-radius: 0px;
}

.table th {
    background-color: #B8D0FA;
}

.commonButton {
    border-radius: 5px;
    width: 100%;
    height: 5vh;
    padding: 0 10px;
    overflow-y: auto;
    flex: 1;
    text-align: left;
}

.user_form>div>.form-control {
    background-color: var(--bggray);
    color: var(--mainblack);
    border: 1px solid var(--lightgray2);
    border-radius: 0;
}

.user_btn>button {
    background-color: var(--lightblue);
    border: 1px solid var(--midblue);
    border-radius: 5px;
    font-weight: 500;
    color: var(--mainblack);
    padding: 6px 30px;
}

.user_list>div>button {
    border: 1px solid var(--midblue);
    border-radius: 5px;
    background-color: var(--lightblue);
    font-size: 18px;
    font-weight: 700;
    color: var(--mainblack);
    padding: 5px 8px;
    cursor: pointer;
}