/*adminmain*/
.homebox {
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    height: 5vh;
    padding: 0 10px;
    overflow-y: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

/*membermanage 테이블*/
.table {
    border-collapse: collapse;
    width: 100%;
}

.table th,
.table td {
    padding: 8px;
    text-align: left;
    background-color: #F2F5FA;
}

.table th {
    background-color: #d4d3d3;
}

/*memberprofile*/