/*adminmain*/


/*membermanage 테이블*/
.table {
    border-collapse: collapse;
    width: 100%;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #F2F5FA;
}

/*memberprofile*/