div.myupdatemain {
    margin: 0 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

div.myupdateheader {
    height: 60px;
}

div.myupdatemain div.profile{
    align-self: center;
    text-align: center;
    margin-top: 30px;
    position: relative;
}

div.myupdatemain div.profile img{
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

div.myupdatemain div.iconmenu{
    width: 100%;
    align-self: center;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

div.myupdatemain div.iconmenu div{
    cursor: pointer;
}

div.myupdatemain div.iconmenu h6{
    margin: 10px 0px;
}

div.myupdatemain div.listmenu{
    margin-top: 55px;
}

div.myupdatemain div.listmenu div{
    cursor: pointer;
    margin: 30px 0px;
}

div.myupdatemain div.listmenu div {
    cursor: pointer;
    margin: 30px 0px;
    margin-right: 10px;
}

div.myupdatemain div.lastmenu{
    cursor: pointer;
    margin-bottom: 300px;

}