.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

a {
    text-decoration: none;
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    overflow: auto;
}

.hideTop {
    padding-top: 10%;
}

.max-w-540 {
    max-width: 540px;
    position: relative; /* 부모 요소를 relative로 설정합니다. */
}

.overlaywhite {
    position: absolute; /* 부모 요소를 기준으로 위치를 설정합니다. */
    top: 0; /* 부모 요소의 상단에 위치시킵니다. */
    left: 0; /* 부모 요소의 왼쪽에 위치시킵니다. */
    width: 100%; /* 부모 요소의 가로 전체를 차지합니다. */
    height: 7%; /* 부모 요소의 상단 10%만큼의 높이를 설정합니다. */
    background-color: white; /* 하얀색 배경을 설정합니다. */
    z-index: 1; /* 다른 요소 위에 위치하도록 z-index 값을 설정합니다. */
}

.btn-wrapper {
    padding: 0 24px;
}


.btn.primary {
    background-color: #3282f6;
    color: #f9fcff;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.confirm-loading {
    margin-top: 72px;
    height: 400px;
    justify-content: space-between;
}


.confirm-success {
    display: none;
    margin-top: 72px;
}

.button-group {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.title {
    margin-top: 32px;
    margin-bottom: 0;
    color: #191f28;
    font-weight: bold;
    font-size: 24px;
}

.description {
    margin-top: 8px;
    color: #4e5968;
    font-size: 17px;
    font-weight: 500;
}

.response-section {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 20px;
}

.response-section .response-label {
    font-weight: 600;
    color: #333d48;
    font-size: 17px;
}

.response-section .response-text {
    font-weight: 500;
    color: #4e5968;
    font-size: 17px;
    padding-left: 16px;
    word-break: break-word;
    text-align: right;
}

.color-grey {
    color: #b0b8c1;
}