div.selectCounselor {
    box-sizing: border-box;
    border-radius: 3px;
    width: 50%;
    height: 5vh;
    padding: 0 10px;
    overflow-y: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

table.chatlog-table {
    width: 100%;
    border: 1px solid #eeeeff;
    border-collapse: collapse;
}

table.chatlog-table th,
table.chatlog-table td {
    border: 1px solid #eeeeff;
    padding: 10px 16px;
    text-align: center;
}

table.chatlog-table tbody tr>td:nth-child(1) {
    font-weight: bold;
}

table.chatlog-table tbody tr>td:nth-child(3) {
    font-weight: bold;
}