div.mypagemain {
    margin: 0 30px;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
}

div.mypageheader {
    height: 60px;
}

div.mypagemain div.profile {
    align-self: center;
    text-align: center;
    margin-top: 30px;
}

div.mypagemain div.profile img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

div.mypagemain div.iconmenu {
    width: 100%;
    align-self: center;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

div.mypagemain div.iconmenu div {
    cursor: pointer;
}

div.mypagemain div.iconmenu h6 {
    margin: 10px 0px;
}

/* div.mypagemain div.listmenu{
    margin-top: 55px;
}

div.mypagemain div.listmenu div{
    cursor: pointer;
    margin: 30px 0px;
}

div.mypagemain div.listmenu div {
    cursor: pointer;
    margin: 30px 0px;
    margin-right: 10px;
}

div.mypagemain div.lastmenu{
    cursor: pointer;
    margin-bottom: 300px;

} */


.h_35 {
    height: 40px;
}