/* FAQ 페이지 */
.faq_q {
    cursor: pointer;
    position: relative;
}

.faq.accordion {
    --bs-accordion-color: var(--bs-body-color);
    --bs-accordion-bg: var(--bggray);
    --bs-accordion-border-color: var(--lightgray1);
    --bs-accordion-border-radius: 0;
    --bs-accordion-inner-border-radius: 0;
    --bs-accordion-btn-padding-x: 0.1rem;
    --bs-accordion-btn-padding-y: 0.7rem;
    --bs-accordion-btn-color: var(--bs-body-color);
    --bs-accordion-btn-bg: var(--bs-accordion-bg);
    --bs-accordion-btn-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
    --bs-accordion-btn-icon-width: 1.25rem;
    --bs-accordion-btn-icon-transform: rotate(-180deg);
    --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
    --bs-accordion-btn-active-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23052c65'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
    --bs-accordion-btn-active-border-color: #FF7170;
    --bs-accordion-btn-focus-box-shadow: 0;
    --bs-accordion-body-padding-x: 0.1rem;
    --bs-accordion-body-padding-y: 0.7rem;
    --bs-accordion-active-color: var(--bs-primary-text-emphasis);
    --bs-accordion-active-bg: var(--lightred);
}

.faq button {
    font-size: 0.88rem;
}

.faq .accordion-button::after {
    margin-right: 0.5rem;
}

.faq .accordion-body {
    font-size: 0.88em;
    background-color: #E1F5F5;
}

.faq .accordion-item {
    color: var(--mainblack);
}

.inquiry_form>div>.form-control {
    background-color: var(--bggray);
    color: var(--mainblack);
    border: 1px solid var(--lightgray2);
    border-radius: 0;
}

.inquiry_btn>button {
    background-color: var(--lightblue);
    border: 1px solid var(--midblue);
    border-radius: 5px;
    font-weight: 500;
    color: var(--mainblack);
    padding: 6px 30px;
}

.inquiry_list>div>button {
    border: 1px solid var(--midblue);
    border-radius: 5px;
    background-color: var(--lightblue);
    font-size: 18px;
    font-weight: 700;
    color: var(--mainblack);
    padding: 5px 8px;
    cursor: pointer;
}

.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background-color: var(--lightblue) !important;
}

.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected:hover {
    background-color: var(--midblue) !important;
}

.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root:hover {
    background-color: var(--midblue) !important;
}

.qnaPage_btn button {
    color: var(--mainblack);
    font-weight: 600;
}